.model-edit-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input{
    width: 97%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.save-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #218838;
}

.save-button-final {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-button-final:hover {
    background-color: rgba(0, 86, 179, 0.89);
}

.edit-color {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #0053ae;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-color:hover {
    background-color: rgba(0, 86, 179, 0.89);
}

.error-message {
    color: rgba(255, 0, 0, 0.73);
    margin-bottom: 15px;
    text-align: center;
}

.add-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #218838;
}

.exit-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #9a0404;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.cancel-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(110, 0, 0, 0.55);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: rgba(110, 46, 0, 0.55);
}

.exit-button:hover {
    background-color: #8c4444;
}
